.power-mode-combo {
  position: fixed;
  display: flex;
  right: 6%;
  top: 120px;
  font-weight: 900;
  pointer-events: none;
  z-index: 1;
  font-size: 40px;
  flex-direction: column;
  align-items: flex-end;
  font-family: monospace;
}
.power-mode-combo-progress {
  height: 12px;
  background-color: white;
  border: solid 1px white;
}
.power-mode-combo-text {
  color: white;
}
.power-mode-combo-exclamation {
  font-size: 24px;
}
.power-mode-explosion {
  position: absolute;
  pointer-events: none;
  transform: translateX(-50%);
}

.power-mode-explosion-mask {
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  filter: saturate(150%);
}

.power-mode-explosion-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.power-mode-setting-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-end;
}

.power-mode-setting-preview .power-mode-setting-item {
  height: 64px;
  width: fit-content;
  position: relative;
}

.power-mode-setting-preview .power-mode-setting-remove {
  opacity: 0;
  transition: opacity 0.2s;
  height: 20px;
  width: 20px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.power-mode-setting-item:hover .power-mode-setting-remove {
  opacity: 1;
}

.power-mode-setting-preview img {
  width: auto;
  height: 64px;
  background-color: rgba(128, 128, 128, 0.4);
}

.power-mode-setting-list {}
